In [1]:
SELECT sz.SZOBA_ID,
sz.FEROHELY,
OVER(PARTITION BY f.FOGLALAS_PK) AS 'Helyez√©s'
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_SZAMA
WHERE

: Msg 156, Level 15, State 1, Line 3
Incorrect syntax near the keyword 'OVER'.